# Environnements virtuels
venv/
.venv/
env/

# Fichiers Python compilés
__pycache__/
*.py[cod]

# Fichiers de logs ou temporaires
*.log
*.tmp

# Systèmes d’exploitation
.DS_Store
Thumbs.db

# Config VS Code (optionnel)
.vscode/

# Dossiers de tests ou data locaux
data/
*.csv
