<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bonjour Test</title>
</head>
<body>
    <h1>Bonjour test</h1>
    <h1>Liste des Reviews</h1>
    <h1>Review Title</h1>
    <ul>
        {% for review in reviews %}
            <li>{{ review.headline }} - {{ review.rating }}</li> 
            
        {% empty %}
            <li>Aucune review trouvée.</li>  <!-- Message si aucune Review -->
        {% endfor %}
    </ul>

</body>
</html>