{% extends 'base.html' %}

{% block content %}
    <h2>Créer un nouveau Ticket</h2>

    <!-- Formulaire pour créer un ticket -->
    <form method="POST">
        {% csrf_token %}

        <label for="title">Titre du ticket :</label>
        <div class="ticket-title-box">
            <input type="text" name="title" id="title" required>
        </div><br><br>

        <label for="description">Description du ticket :</label>
        <div class="ticket-description-box">
            <textarea name="description" id="description" required></textarea>
        </div><br><br>

        <!-- Boutons "Valider" et "Annuler" -->
        <button type="submit" class="button">Valider</button>
        <a href="{% url 'ticket_list' %}" class="button">Annuler</a>
    </form>
{% endblock %}
