{% extends 'base.html' %}

{% block content %}
  <h2>Les revues du billet : {{ ticket.title }}</h2>

  <!-- Affichage des reviews sous chaque ticket -->
  <div class="reviews">
    {% for review in ticket.review_set.all %}
      <div class="review small-text"> <!-- Applique la petite taille de texte à toute la review -->

        <!-- Séparateur avant la critique -->
        <hr class="review-separator">

        <!-- Affichage de l'image de la review si elle existe -->
        {% if review.image %}
          <div class="review-image">
            <img src="{{ review.image.url }}" alt="Image de la review" style="max-width: 200px; max-height: 150px; object-fit: cover;">
          </div>
        {% endif %}

        <p><strong>{{ review.headline }} ({{ review.user.username }})</strong></p>

        <!-- Contenu de la review -->
        <div class="review-description-box">
          <p>{{ review.body }}</p>
        </div>

        <p><strong>Note :</strong> {{ review.rating }} / 5</p>
        <p><strong>Publié le :</strong> {{ review.time_created }}</p>

        <!-- Boutons Modifier et Effacer seulement si la review a été créée par l'utilisateur loggé -->
        <div class="review-buttons">
          {% if review.user == request.user %}
            <!-- Bouton "Modifier" -->
            <form action="{% url 'edit_review' review.id %}" method="get">
              <button type="submit" class="button">Modifier</button>
            </form>

            <!-- Bouton "Effacer" redirige vers la page de confirmation de suppression -->
            <a href="{% url 'confirm_delete_review' review.id %}" class="button">Effacer</a>
          {% endif %}
        </div>
      </div>
    {% empty %}
      <p>Aucune review pour ce ticket.</p>
    {% endfor %}
  </div>
{% endblock %}
