{% extends 'base.html' %}

{% block content %}
  <h2>Utilisateurs suivis</h2>

  {% if followed_users %}
    <ul>
      {% for followed_user in followed_users %}
        <li>
          {{ followed_user.username }}
          <form method="POST" style="display:inline;">
            {% csrf_token %}
            <input type="hidden" name="followed_user_id" value="{{ followed_user.id }}">
            <button type="submit">Désabonner</button>
          </form>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Vous ne suivez personne.</p>
  {% endif %}
{% endblock %}
