{% extends 'base.html' %}

{% block content %}
    <h2>>>>Choisir un ticket et voir les reviews</h2>

    <!-- Formulaire pour sélectionner un ticket -->
    <form method="POST">
        {% csrf_token %}
        <label for="ticket">Choisir un ticket:</label>
        <select name="ticket" id="ticket">
            {% for ticket in tickets %}
                <option value="{{ ticket.id }}" {% if ticket.id == selected_ticket.id %}selected{% endif %}>{{ ticket.title }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="button">Valider</button>
    </form>

    {% if selected_ticket %}
        <h3>Reviews pour le ticket "{{ selected_ticket.title }}"</h3>

        <div class="reviews">
            {% for review in reviews %}
                <div class="review">
                    <p><strong>{{ review.headline }}</strong></p>
                    <p>{{ review.body }}</p>
                    <p><em>Note: {{ review.rating }} / 5</em></p>
                    <p><strong>Publié le :</strong> {{ review.time_created }}</p>

                    <!-- Boutons "Modifier" et "Effacer" -->
                    <div>
                        <a href="{% url 'edit_review' review.id %}" class="button">Modifier</a>
                        <form method="POST" action="{% url 'delete_review' review.id %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="button" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette critique ?');">Effacer</button>
                        </form>
                    </div>
                </div>
            {% empty %}
                <p>Aucune review pour ce ticket.</p>
            {% endfor %}
        </div>

        <!-- Bouton pour ajouter une review -->
        <a href="{% url 'add_review' selected_ticket.id %}" class="button">Ajouter une review</a>

    {% endif %}
{% endblock %}
