{% extends 'base.html' %}

{% block content %}
    <h2>Ajouter une Review pour le ticket "{{ ticket.title }}"</h2>

    <form method="POST">
        {% csrf_token %}
      

        <label for="headline">Titre de la critique :</label>
        <div class="ticket-title-box">
            <input type="text" name="headline" id="headline" required>
        </div><br><br>

        <label for="body">Contenu de la review :</label>
        <div class="ticket-description-box">
            <textarea name="body" id="body" required></textarea>
        </div><br><br>

        <label for="rating">Note (0 à 5) :</label>
        <input type="number" name="rating" id="rating" min="0" max="5" required><br><br>

        <button type="submit" class="button">Envoyer la review</button>
    </form>

    {% if message %}
        <!-- Pop-up message JavaScript -->
        <div id="popup-message" style="display: block; position: fixed; top: 20%; left: 50%; transform: translateX(-50%); background-color: #fff; padding: 20px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); border-radius: 8px; z-index: 1000;">
            <h3>{{ message }}</h3>
            <button onclick="closePopup()">OK</button>
        </div>
    {% endif %}

    <script>
        function closePopup() {
            // Masquer le pop-up et rediriger l'utilisateur
            document.getElementById('popup-message').style.display = 'none';
            window.location.href = "{% url 'user_feed' %}";  // Remplacez 'user_feed' par l'URL de redirection souhaitée
        }
    </script>

{% endblock %}
