{% extends 'base.html' %}

{% block content %}
  <h2>Modifier le ticket : {{ ticket.title }}</h2>

  <!-- Formulaire de modification du ticket -->
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <label for="ticket_title">Titre :</label>
    <input type="text" id="ticket_title" name="ticket_title" value="{{ ticket.title }}" required><br><br>
    <div class="ticket_description">
      <textarea id="ticket_description" name="ticket_description" required>{{ ticket.description }}</textarea>
  </div>
 
    {% if ticket.image %}
      <p>Image actuelle :</p>
      <img src="{{ ticket.image.url }}" alt="Image du ticket" style="max-width: 200px; max-height: 150px;"><br><br>
    {% endif %}

    <label for="ticket_image">Changer l'image :</label>
    <input type="file" id="ticket_image" name="ticket_image"><br><br>

    <button type="submit" class="button">Enregistrer les modifications</button>
    <form action="{% url 'all_tickets' %}" method="get" style="display: inline;">
      <button type="submit" class="button">Annuler</button>
  </form>
   
  </form>

  

  
  
{% endblock %}
