{% extends 'base.html' %}

{% block content %}
    <h1>Fil d'actualités</h1>

    <div>
        {% if tickets_with_reviews %}
            {% for item in tickets_with_reviews %}
                <div class="ticket">
                    <h3>{{ item.ticket.title }} ({{ item.ticket.user.username }})</h3>
                    <p>{{ item.ticket.description }}</p>
                    <p><small>Publié le : {{ item.ticket.time_created|date:"d/m/Y H:i" }}</small></p>

                    {% if item.ticket.image %}
                        <div class="ticket-image">
                            <img src="{{ item.ticket.image.url }}" alt="Image du ticket" style="max-width: 20%; height: auto;">
                        </div>
                    {% endif %}

                    <h4>Critiques :</h4>
                    {% if item.reviews %}
                        {% for review in item.reviews %}
                            <div class="review small-text">
                                <p><strong>{{ review.user.username }}</strong> a écrit :</p>
                                <p>{{ review.body }}</p>
                                <p>Note : {{ review.rating }}/5</p>
                                <p><small>Publié le : {{ review.time_created|date:"d/m/Y H:i" }}</small></p>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="review small-text">Aucune critique pour ce billet.</div>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <p>Aucun billet à afficher.</p>
        {% endif %}
    </div>
{% endblock %}
